{% load wahlrechner_name %}

<h1>Willkommen beim {% wahlrechner_name %}</h1>

{% if not thesen.first %}
    <div class="infobox mb-4">
        Der {% wahlrechner_name %} ist noch in Vorbereitung und demnächst auf dieser Seite verfügbar.
    </div>
{% endif %}

<p>
    Am 12. September 2021 findet die niedersächsische Kommunalwahl stattfinden, bei der auch der Buxtehuder Stadtrat
    neu gewählt wird. Der Stadtjugendring Buxtehude e.V. bietet eine Plattform, auf der du deine Ansichten mit den
    Positionen der antretenden Parteien vergleichen kannst.
    <br><br>
    Wir haben Schülerinnen und Schüler aus Buxtehude nach Statements gefragt, aus diesen haben wir zentrale Thesen
    erarbeitet. Alle Parteien des Buxtehuder Rates haben sich begründet zu den Thesen positioniert. Die genauen
    Begründungen kannst du dir durchlesen, sobald du den Buxt-O-Mat abgeschlossen hast.
    Mehr Infos zum Projekt findest du
    <a class="underline" href="https://www.sjr-buxtehude.de/%C3%BCber-uns/buxt-o-mat/">hier</a>.
    <br><br>
    Du kannst nun den Buxt-O-Mat durchspielen. Lies dir die Thesen genau durch und entscheide, wie du dich zu ihnen
    positionierst. Am Ende wird deine inhaltliche Übereinstimmung mit den einzelnen Parteien verglichen.
    <br><br>
    <i>
        Der Buxt-O-Mat gibt keine Wahlempfehlungen, sondern ist ein politisches Informationsangebot über die Buxtehuder
        Parteien und ihre Positionen.
    </i>
</p>

{% if thesen.first %}
    <div class="infobox">
        Der {% wahlrechner_name %} sammelt keinerlei personenbezogene Daten und verwendet keine Cookies.
        Indem du auf "Start" klickst, stimmt du den
        <a class="underline" href="https://www.sjr-stade.de/impressum.html#a145">Datenschutzbedingungen</a>
        zu.
    </div>
{% endif %}